<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoyneSolutions.SpeeDiff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoyneSolutions.SpeeDiff.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>950, 600</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListviewColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>61</int>
                        <int>81</int>
                        <int>140</int>
                        <int>149</int>
                        <int>650</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="MostRecentlyUsedFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </CoyneSolutions.SpeeDiff.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="DiffViewer1Name" value="WinMerge"/>
    <add key="DiffViewer1Program" value="C:\Program Files (x86)\WinMerge\WinMergeU.exe"/>
    <add key="DiffViewer1Parameters" value="/e /u /wl /wr /dl &quot;{lefttitle}&quot; /dr &quot;{righttitle}&quot; &quot;{left}&quot; &quot;{right}&quot;"/>
    <add key="DiffViewer2Name" value="TortoiseMerge test (without parameters)"/>
    <add key="DiffViewer2Program" value="tortoisemerge.exe"/>
  </appSettings>
</configuration>